{% extends 'base.html' %}

<!--
Deze pagina is bedoeld als cursus overzicht voor moderators.
Niet verwarren met de cursus lijst bedoeld voor studenten
zodat zij bij een cursus kunnen aanmelden.
-->

{% block title %}

    Overzicht cursussen

{% endblock title %}



{% block content %}

    <h1>PoetsMomenten Overzicht</h1>

    <!--Toon de cursussun-->
  <div>
     <a href="{% url 'mijnApp:add_PoetsMoment' %}" class="btn btn-primary">Add</a>
  </div>
  <div>
      {% if PoetsMomenten.count == 0 %}
      <h2>No PoetsMomenten to show</h2>
      {% endif %}
</div>
    {% for PoetsMoment in PoetsMomenten %}
<ul class="list-group">
  <li class="list-group-item">
    <div class="row d-inline-flex w-100 ">
 
      <div class="col-9">
      <h5 class="mb-1">{{ PoetsMoment.crs_Nm }}</h5>

      </div>
    </div>
    <div class="row d-inline-flex w-100 ">
        <div class="btn-group">
        <a href="{% url 'mijnApp:upd_PoetsMoment' PoetsMoment.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'mijnApp:del_PoetsMoment' PoetsMoment.id %}" class="btn btn-danger">Delete</a>
            </div>
    </div>
  </li>

</ul>
       {% endfor %}

{% endblock content %}
